<h1 class="hero-heading">I'm Hector Lorenzo Pons, a Creative Technologist living and working in London.</h1>
<p class="paragraph">For the last 5 years, I have been working in the Netherlands, Hong Kong and Australia, working for wildly different companies. I'm looking for opportunities as Technical Product Manager (or an even sexier sounding role) starting January 2018.</p>
<p class="paragraph">If you want, you can take a look at my <a href="https://www.linkedin.com/in/hectorlorenzo/">Linkedin</a>, or contact me at hello (at) hectorlorenzo (dot) me.</p>

<h6 class="mini-heading">Currently Reading</h6>
<blockquote class="listing">Tariq Ramadan (2017). <em>Islam: The Essentials.</em> Pelican.</blockquote>

<h6 class="mini-heading">Recently Read</h6>
<blockquote class="listing">Timothy Garton Ash (2016). <em>Free Speech: Ten Principles for a Connected World.</em> Yale University Press.</blockquote>
<blockquote class="listing">Martin Ford (2015). <em>Rise of the Robots: Technology and the Threat of a Jobless Future.</em> Basic Books.</blockquote>
<blockquote class="listing">Kim Stanley Robinson (1993). <em>Red Mars.</em> Random House.</blockquote>