<h1 class="hero-heading">I'm Hector Lorenzo Pons, a Creative Technologist living and working in London.</h1>
<p class="paragraph">For the last 5 years, I have been working in the Netherlands, Hong Kong and Australia, working for wildly different companies. I'm looking for opportunities as Technical Product Manager (or an even sexier sounding role) starting January 2018.</p>
<p class="paragraph">If you want, you can take a look at my <a href="https://www.linkedin.com/in/hectorlorenzo/">Linkedin</a>, or contact me at hello (at) hectorlorenzo (dot) me.</p>
