<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="Personal site of Hector Lorenzo Pons, a creative technologist living and working in London.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>{{ styles }}</style>
  </head>
  <body>
    <div class="content">
        {{{body}}}
    </div>
  </body>
</html>
