body {
    padding: 1rem;
    margin: 0;

    font-family: Helvetica, Arial, sans-serif;
}

* {
    margin-top: 0;
    margin-bottom: 0;
}

* + * {
    margin-top: 1.5rem;
}

.content {
    max-width: 42rem;
}

.hero-heading {
    font-size: 1.75rem;
}

.mini-heading {
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: grey;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: RoyalBlue;
}

@media all and (min-width: 50rem) {
    body {
        padding: 3rem;
    }

    .hero-heading {
        font-size: 3.375rem;
    }

    .paragraph {
        font-size: 1.25rem;
    }
}